<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Bootstrap Core CSS -->
    <!-- themes (*preferred):
      cerulean, cosmo*, cyborg, darkly*, flatly*, journal, lumen, paper, readable, sandstone*, simplex*, slate*, spacelab, superhero*, united*, yeti* -->
    <link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css">
    <!-- awesome font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!--Import jQuery before materialize.js-->
    <link type="text/css" rel="stylesheet" href="https://assets.andserve.net/materialize.min.css"  media="screen,projection"/>

    <!-- Material icons https://www.google.com/design/icons/-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://assets.andserve.net/styles.css">
<title>404 Not Found - andserve</title>
</head>
<body>
<nav>
<div class="nav-wrapper white grey-text text-darken-3">
  <a href="http://andserve.net" class="brand-logo center"><img class="valign" height="60px" src="https://assets.andserve.net/andserve-icon.png" alt="andserve Logo"></a>
</div>
</nav>
<div class="spacer40"></div>
 <div class="row">
    <div class="container">
      <div class="col s12 m12 center-align">
        <div class="card-panel white">
          <span class="grey-text text-darken-3"><h2>Not Found</h2>
          <i class="large material-icons grey-text text-darken-3">search</i>
          <p>The requested document was not found on this server.</p><p>Try going back to <a href="#" onclick="history.go(-1)">where you came from</a></p>
          </span>
        </div>
      </div>
    </div>
  </div>
<footer class="page-footer white">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="grey-text text-darken-3">andserve</h5>
                <ul>
                  <li><a class="grey-text text-darken-3" href="mailto:support@andserve.net">Support</a></li>
                  <li><a class="grey-text text-darken-3" href="http://status.andserve.net">service status</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-darken-3">Mehr</h5>
                <ul>
                  <li><a class="grey-text text-darken-3" href="http://andserve.net/impressum.html">Impressum</a></li>
                  <li><a class="grey-text text-darken-3" href="http://andserve.net/datenschutz.html">Datenschutz</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright white">
            <div class="container grey-text text-darken-3">
            made in 2015 by andserve
            <p class="grey-text text-darken-3 right">hosted by Contabo & Cloudflare</p>
            </div>
          </div>
        </div>
  </footer>
</body>
</html>