<!DOCTYPE html>
<html>
<head>
    <title>andserve Scrum Board</title>
    <!-- favicon -->
    <link rel="icon" href="/app/resources/andserve-icon.png" type="image/x-icon" />
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/app/resources/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!--optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

    <!--fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>


    <!-- Bootstrap Core CSS -->
    <!-- themes (*preferred):
      cerulean, cosmo*, cyborg, darkly*, flatly*, journal, lumen, paper, readable, sandstone*, simplex*, slate*, spacelab, superhero*, united*, yeti* -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- awesome font -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Material icons https://www.google.com/design/icons/-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- inject:css -->
    <link rel="stylesheet" href="/app/lib/materialize.min.css">
    <link rel="stylesheet" href="/app/lib/angular_timeline/angular-timeline-animations.css">
    <link rel="stylesheet" href="/app/lib/angular_timeline/angular-timeline-bootstrap.css">
    <link rel="stylesheet" href="/app/lib/angular_timeline/angular-timeline.css">
    <!-- endinject -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/app/styles/styles.css">

</head>
<body ng-app="mainApp" ng-controller="mainController as main">
  <div class="create center-align" ng-if="!$root.isConnected()">
    <h3>Create Trello Board Screenshot with fancy style</h3>
    <a class="waves-effect waves-light btn" ng-click="initialize()">
      <i class="material-icons left">cloud</i>
        Mit Trello verbinden</a>
  </div>
  <div class="main" ng-if="$root.isConnected()" ng-init="initialize()">
    <i class="fa fa-spinner fa-spin" ng-if="$root.loading"></i>
    <div class="main">
      <div class="center-align">
        <h1> My Trello boards </h1>
        <a class="waves-effect waves-light btn" id="btnSave">
          <i class="material-icons left">cloud</i>
            Download Board</a>
        <div ng-hide="$root.loading">
          <div class="collection">
            <div ng-repeat="board in $root.boards">
              <a href="#!" class="collection-item" ng-click="getBoard(board.shortLink)">{{board.name}}</a>
            </div>
         </div>
       </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a href="#board" class="teal-text lighten-2">Board</a></li>
            <li class="tab col s3"><a href="#timeline" class="teal-text lighten-2">Timeline</a></li>
          </ul>
        </div>
        <div class="row" id="board">
          <h3>Trello Board</h3>
          <div ng-repeat="list in $root.data track by $index" class="col-xs-12 col-md-3 col-sm-4" style="padding: 0px">
            <list model="list"></list>
          </div>
        </div>


        <div id="timeline">
          <h3>Timeline aller Karten</h3>
          <timeline>
            <timeline-event ng-repeat="event in events" side="right">
              <timeline-badge class="{{event.badgeClass}}">
                <i class="glyphicon {{event.badgeIconClass}}"></i>
              </timeline-badge>
              <timeline-panel class="{{event.badgeClass}}">
                <timeline-heading>
                  <h4>{{event.title}}</h4>
                </timeline-heading>
                <p>{{event.content}}</p>
              </timeline-panel>
            </timeline-event>
          </timeline>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

  <script src="https://api.trello.com/1/client.js?key=1602b56189690449876e15570cb2a95f"></script>

  <!-- inject:js -->
  <script src="/app/lib/canvas2image.js"></script>
  <script src="/app/lib/html2canvas.js"></script>
  <script src="/app/lib/materialize.min.js"></script>
  <script src="/app/lib/angular_timeline/angular-timeline.js"></script>
  <!-- endinject -->

  <script type="text/javascript" src="/app/js/services/trelloService.js"></script>
  <script type="text/javascript" src="/app/js/controller/mainController.js"></script>
  <script type="text/javascript" src="/app/js/directives/Card.js"></script>
	<script type="text/javascript" src="/app/js/app.js"></script>

</body>
</html>
